 :root {
     --black: #000000;
     --white: #ffffff;
     --dark-grey: #333333;
     --light-grey: #f5f5f5;
     --primary-colour: #c08457;
     /* Warm brown */
     --secondary-colour: #e6a157;
     /* Soft orange */
 }

 body {
     background-colour: var(--light-grey);
     colour: var(--dark-grey);
     margin: 0;
     padding: 0;
     text-align: center;
 }

 h1,
 h2,
 h3 {
     font-family: 'Poppins', sans-serif;
     font-size: 2.6rem;
     font-optical-sizing: auto;
     font-weight: 900px;
     font-style: normal;

 }

 nav {
     background-colour: var(--black);
     padding: 1rem;
     display: flex;
     justify-content: space-around;
     gap: 20px;
 }

 nav a {
     colour: var(--white);
     text-decoration: none;
     font-size: 1.5rem;
     font-family: 'Poppins', sans-serif;
 }

 nav a.brand {
     font-weight: bold;
 }

 header {
     background-colour: var(--primary-color);
     colour: var(--white);
     padding: 2rem;
 }

 header p {
     font-size: 1.2rem;
 }

 /* Content Section */
 .content {
     padding: 1rem;
     font-size: 1.2rem;
 }

 .content img {
     width: 300px;
     height: auto;
     border-radius: 10px;
 }

 p {
     margin: 1.5rem 0;
 }

 .menu-item {
     display: inline-block;
     margin: 1rem;
     background-colour: var(--white);
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .drinks-intro {
     font-size: 1.2rem;
     max-width: 700px;
     margin: 0 auto;
     text-align: center;
 }

 .pastries-intro {
     font-size: 1.2rem;
     max-width: 700px;
     margin: 0 auto;
     text-align: center;
 }


 footer {
     background-colour: var(--dark-grey);
     colour: var(--white);
     padding: 1rem;
     margin-top: 2rem;
     width: 100%;
     position: fixed;
     bottom: 0;
 }

 footer a {
     colour: var(--secondary-color);
     text-decoration: none;
     font-size: 1.2rem;
     margin: 0 10px;
 }
